<%if user_signed_in?%>
	<%no_comments_message = "Your comment will be the first"%>
<%else%>
	<%no_comments_message = "No comments"%>
<%end%>
<%if comments.length > 0%>

	<%comments.each do |comment|%>
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<div class="row">
			  	<div class="col-xs-2 col-sm-1">
			  		<center>
			  			<%=render partial: "partials/avatar", locals: 
			  			{resource: user_by_id(comment.author_id), cls: "img-circle"}%>
			  		</center>
					<div class="arrow-up comment-arrow-up"></div>
			  	</div>
			  	<div class="col-xs-10 col-sm-11">
			  		<div class="col-xs-12 comment-header">
			  			<%= link_to_user(user_by_id(comment.author_id))%> said:

					  	<div class="right">
				  			<%if user_signed_in?%>
					  			<%if comment.author_id == current_user.id%>
					  				<small class="right">
							  			<a data-confirm="Are you shure?" rel="nofollow" 
							  				data-method="delete" 
							  				href="/post/<%=$post.id%>/comment/<%=comment.id%>" 
							  				data-confirm="Are you sure ?">
							  				<%=icon('remove')%>		
										</a>
				  					</small>
								<%end%>
							<%end%>
						</div>
			  		</div>
			  	</div>
			</div>
		  </div>
		  	<p class="content"><%=comment.text%></p>

			<small class="right">
				<%=hint(comment.created_at)%>
			</small>
		</div>	
	<% end %>
<%else%>
	<h5><%= hint(no_comments_message)%></h5>
<%end%>