<%avatar = false unless avatar%>

<%if posts.length > 0%>
	<%posts.each do |post|%>
	<%if avatar%>
		<div class="row post-list">
			<div class="avatar col-sm-4 col-md-3 hidden-xs">
				<center>
					<%=link_to(image_tag(post.cover, class:'img-thumbnail'), post_path(post))%>
					<!-- <%=render partial: "partials/avatar", locals: {resource: user_by_id(post.author_id), cls: "img-circle"}%> -->
				</center>
			</div>
			<div class="info col-sm-8 col-md-9">
				<h2><a href="<%=post_path(post)%>"><%=post.title%></a>
				</h2>
				<b>Posted by:</b> <%=link_to_user(user_by_id(post.author_id)) %><br>
				<%=hint("#{post.comments.length} comment(s)")%>
			</div>
		</div>
	<%else%>
		<h2><a href="<%=post_path(post)%>"><%=post.title%></a></h2>
		<b>Posted by:</b> <%=link_to_user(user_by_id(post.author_id)) %><br>
		<%=hint("#{post.comments.length} comment(s)")%>
	<%end%>


	<div id="<%=post.id%>" class="post-text" expanded="false">
		<%if avatar%>
			<div class="arrow-up hidden-xs"></div>
		<%end%>
		<div class="no-mrgn-btm well well-sm post-well">
			<%=breaklines_on(post.text)%>
		</div>
	</div>

	<center>
		<a target="#<%=post.id%>" class="post-text-fader">
			<%=icon("chevron-down")%>
	    </a>
	</center>
    <hr>
<%end%>
<%else%>
	<%=hint("No posts yet")%>
<%end%>
