<%avatar = false unless avatar%>

<%if posts.length > 0%>
	<%posts.each do |post|%>
	<%if avatar%>
		<div class="row">
			<div class="col-md-2">
				<%=render partial: "partials/avatar", locals: {resource: user_by_id(post.author_id), 
					cls: "img-circle"}%>
			</div>
			<div class="col-md-10">
				<h2><a href="<%=post_path(post)%>"><%=post.title%></a></h2>
				<b>Posted by:</b> <%=link_to_user(user_by_id(post.author_id)) %><br>
				<%=hint("#{post.comments.length} comments")%>
			</div>
		</div>
	<%else%>
		<h2><a href="<%=post_path(post)%>"><%=post.title%></a></h2>
		<b>Posted by:</b> <%=link_to_user(user_by_id(post.author_id)) %><br>
		<%=hint("#{post.comments.length} comments")%>
	<%end%>

	<center>
		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%=post.id%>" aria-expanded="true" aria-controls="<%=post.id%>">
		<%=icon("chevron-down")%>
	    </a>
	</center>

	<div id="<%=post.id%>" class="collapse">
		<%=post.text%>
	</div>

    <hr>
<%end%>
<%else%>
	<%=hint("No posts yet")%>
<%end%>