
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<h2><%= @post.title %></h2>
		<hr>
		<p><%= @post.text %></p>
		<hr>
		<p>Posted by: <b><i><a href="<%=user_path(@author.id)%>"><%=@author.username%></a></i></b> on <b><i><%= @post.created_at %></i></b></p>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-8">
			<div class="hidden-xs"><br><br><br><br></div>
			<div class="list-group">
				<% if @author.id == current_user.id %>
					<a class="list-group-item" data-confirm="Are you shure?" rel="nofollow" data-method="delete" href="<%=post_path(@post)%>" data-confirm="Are you sure ?"><span class="glyphicon glyphicon-trash"></span> Delete</a>

					<a class="list-group-item" href="<%=edit_post_path(@post)%>"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
					
				<%else%>
					<% if @likers.include?(current_user.username) %>
						<a class="list-group-item" rel="nofollow" data-method="delete" 
						href="<%=unlike_post_path(@post)%>"><span class="glyphicon glyphicon-thumbs-down"></span> Unlike</a>

					<% else %>
						<a class="list-group-item" rel="nofollow" data-method="post" 
						href="<%=like_post_path(@post)%>"><span class="glyphicon glyphicon-thumbs-up"></span> Like this post</a>
					<%end%>
				<%end%>
			</div>
			<a toggle="tooltip" title="<%=@likers.join(', ')%>" style="cursor: pointer"><%=@post.likes.length%></a> 
			people like it
	</div>
</div>

<br><div class="row"><hr>
	<div class="col-md-9">
		<%= form_tag (post_comment_index_path(@post)) do %>
			<%= label_tag :comment%> <span class='glyphicon glyphicon-comment'></span>
			<%= text_area_tag :comment, nil, class: 'form-control' %>
			<br>
			<%= button_tag(type: 'submit', class: 'btn btn-default') do %>
				<span class='glyphicon glyphicon-ok'></span> Add a comment
			<%end%>
		<% end %>
	</div>
</div>

<div class="row"><hr>
	<div class="col-md-9">
		<%if @comments.length > 0%>

			<%@comments.each do |comment|%>
				<div class="border">
					<p><b><%= User.find(comment.author_id).username %></b> said:</p>

					<div class="row">

						<div class="col-md-10">
							<p><%= comment.text %></p>
						</div>

						<div class="col-md-2">
							<small><p class='hint'><%= comment.created_at %></p></small>
						</div>
					</div>
				</div>	
			<% end %>
		<%else%>
			<h5><p class='hint'>Your comment will be the first</p></h5>
		<%end%>
	</div>
</div>


