
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-5">
		<h2><%= @post.title %></h2>
		<hr>
		<p><%= @post.text %></p>
		<hr>
		<p>Posted by: <b><i><%= @post.author %></i></b> on <b><i><%= @post.created_at %></i></b></p>
	</div>
	<div class="col-xs-2">
		<% if @post.author == current_user.username %>
			<br><br><br><br>
			<div class="list-group">
				<%= link_to "Delete", post_path(@post), method: "delete", class: "list-group-item", data: {confirm: "Are you shure?"} %>
				<%= link_to "Edit", edit_post_path(@post), class: "list-group-item"%>
			</div>
		<%else%>
			<br><br><br><br>
			<% if @likes.include?(current_user.username) %>
				<div class="list-group">
					<%= link_to "Unlike", unlike_post_path(@post), method: "delete", class: "list-group-item" %>
				</div>
			<% else %>
				<div class="list-group">
					<%= link_to "Like this post", like_post_path(@post), method: "post", class: "list-group-item" %>
				</div>
			<%end%>
		<%end%>
		<br>
		<%= @post.likes.length %> people like it
	</div>
</div>

<br><div class="row"><hr>
	<div class="col-xs-9">
		<%= form_tag (post_comment_index_path(@post)) do %>
			<%= label_tag :comment %>
			<%= text_area_tag :comment, nil, class: 'form-control' %>
			<br><%= submit_tag 'Add comment', class: 'btn btn-default' %>
		<% end %>
	</div>
</div>

<div class="row"><hr>
	<div class="col-xs-9">
		<%if @post.comments.length != 0%>

			<%@post.comments.reverse.each do |comment|%>
				<div class="border">
					<p><b><%= comment.author %></b> sayd:</p>

					<div class="row">

						<div class="col-xs-10">
							<p><%= comment.comment %></p>
						</div>

						<div class="col-xs-2">
							<small><p class='hint'><%= comment.created_at %></p></small>
						</div>
					</div>
				</div>	
			<% end %>
		<%else%>
			<h5><p class='hint'>Your comment will be the first</p></h5>
		<%end%>
	</div>
</div>


