<div class="post-block
">
	<div class="border row">
		<div class="col-md-9 col-sm-9 col-xs-12 ">
			<div class="well well-lg post">
				<h1 class="post-title"><%= $post.title %></h1>
					<div class="post-cover-img">
						<center>
							<%= image_tag($post.cover, class: "cover")%>
						</center>
					</div>
				<div class="well-md">
					<%=breaklines_on($post.text)%>
				</div>
			</div>			
		</div>
		<div class="col-sm-3 col-xs-12 post-info">
				<div class="border well-sm credits">
					<%=icon('user')%> Author: <b><i><%=link_to_user(@author)%></i></b><br>
					<%=icon('time')%> Created at: <b><i><%=$post.created_at%></i></b>
				</div>
				<div class="list-group actions">
					<% if user_signed_in? and @author.id == current_user.id %>
						<a class="list-group-item" data-confirm="Are you shure?" rel="nofollow" data-method="delete" href="<%=post_path($post)%>" data-confirm="Are you sure ?">
						<%=icon("trash")%> Delete
						</a>

						<a class="list-group-item" href="<%=edit_post_path($post)%>">
							<%=icon("pencil")%> Edit
						</a>
						
					<%else%>
						<% if user_signed_in? and @likers.include?(current_user.username) %>
							<a class="list-group-item" rel="nofollow" data-method="delete" 
							href="<%=unlike_post_path($post)%>"><%=icon("thumbs-down")%> Unlike</a>
						<% else %>
							<a class="list-group-item" data-method="post" 
							href="<%=like_post_path($post)%>"> 
								<%=icon("thumbs-up")%> Like this post
							</a>
						<%end%>
					<%end%>
				</div>
			<center>
				<a toggle="tooltip" title="<%=@likers.join(', ')%>" style="cursor: pointer">
					<%=@likers.length%>
				</a> 
				people liked it
			</center>
		</div>
	</div>
</div>
<br>


<%if user_signed_in?%>
	<hr>
	<div class="row">
		<div class="col-md-9">
			<%=  form_for @comment , url: post_comment_index_path($post), method: :post do |f|%>

				<%= f.label :comment%> <%=icon("comment")%>
				<%= f.text_area :text, class: 'form-control' %>
				<br>
				<%= button_tag(type: 'submit', class: 'btn btn-default') do %>
					<%=icon("ok")%> Add a comment
				<%end%>
			<% end %>
		</div>
	</div>
<%end%>

	<div class="row"><hr>
		<div class="col-md-9">

		<%=render partial: "/partials/comments", locals: {comments: @comments}%>

		</div>
	</div>


