
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12">
		<h2><%= @post.title %></h2>
		<hr>
		<p><%= @post.text %></p>
		<hr>
		<p>Posted by: <b><i><%= @post.author %></i></b> on <b><i><%= @post.created_at %></i></b></p>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-8">
			<div class="hidden-xs"><br><br><br><br></div>
			<div class="list-group">
				<% if @post.author == current_user.username %>
					<%= link_to "<span class='glyphicon glyphicon-trash'></span> Delete".html_safe, post_path(@post), method: "delete", class: "list-group-item", data: {confirm: "Are you shure?"} %>
					<%= link_to "<span class='glyphicon glyphicon-pencil'></span> Edit".html_safe, edit_post_path(@post), class: "list-group-item"%>
					
				<%else%>
					<% if @likes.include?(current_user.username) %>
						<%= link_to "<span class='glyphicon glyphicon-thumbs-down'></span> Unlike".html_safe, unlike_post_path(@post), method: "delete", class: "list-group-item" %>
					<% else %>
						<%= link_to "<span class='glyphicon glyphicon-thumbs-up'></span> Like this post".html_safe, like_post_path(@post), method: "post", class: "list-group-item" %>
					<%end%>
				<%end%>
			</div>
			<%=link_to "#{@post.likes.length}", '#', toggle:'tooltip', title: @likes.join(', ') %> people like it
	</div>
</div>

<br><div class="row"><hr>
	<div class="col-md-9">
		<%= form_tag (post_comment_index_path(@post)) do %>
			<%= label_tag :comment%> <span class='glyphicon glyphicon-comment'></span>
			<%= text_area_tag :comment, nil, class: 'form-control' %>
			<br>
			<%= button_tag(type: 'submit', class: 'btn btn-default') do %>
				<span class='glyphicon glyphicon-ok'></span> Add a comment
			<%end%>
		<% end %>
	</div>
</div>

<div class="row"><hr>
	<div class="col-md-9">
		<%if @post.comments.length != 0%>

			<%@post.comments.reverse.each do |comment|%>
				<div class="border">
					<p><b><%= comment.author %></b> said:</p>

					<div class="row">

						<div class="col-md-10">
							<p><%= comment.comment %></p>
						</div>

						<div class="col-md-2">
							<small><p class='hint'><%= comment.created_at %></p></small>
						</div>
					</div>
				</div>	
			<% end %>
		<%else%>
			<h5><p class='hint'>Your comment will be the first</p></h5>
		<%end%>
	</div>
</div>


