
<div class="row">
	<div class="col-xs-3">
		<div class="border">
			<br><br><br><br><br>
			<center class="hint">Photo here</center>
			<br><br><br><br><br><br>
		</div>
		<br>
		<%if @user != current_user%>
			<%if @followers.include?(current_user)%>
				<div class="list-group">
					<%=link_to "<span class='glyphicon glyphicon-minus'></span> Unfollow".html_safe, unfollow_path(@user), method: "delete", class: "list-group-item"%>
				</div>
			<%else%>
				<div class="list-group">
					<%=link_to "<span class='glyphicon glyphicon-plus'></span> Follow".html_safe, friend_up_path(@user), method: "post", class: "list-group-item"%>
				</div>
			<%end%>
		<%end%>

		<div class="border">
			<h4>followers</h4><hr>
			<% @followers.each do |follower| %>
				<%=follower.username%> <br>
			<%end%>
		</div>
	</div>

	<div class="col-xs-8">	
		<div class="border">
			<h3><b><%= @user.username %></b></h3><hr>
			<p><b>Amount of posts: </b><%= @user.amount_of_posts %></p>
			<p><b>Registered at: </b><%= @user.created_at %></p>
		</div>
		<br>
		<div class="border">
			<hr>
			<%@posts.each do |post|%>
					<h4><%= link_to "#{post.title}", post_path(post)%></h4>
					<b>Posted by:</b> <%= User.find(post.author_id).username %><hr>
			<%end%>
		</div>
	</div>
</div>