
<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-5">
			<%if @avatar%>
				<%= link_to image_tag(@avatar.image.url, class: 'img-thumbnail'), 
				@avatar.image.url, target: '_blank'%>
			<%else%>
				<div class="border">
					<br><br><br><br>
					<center class="hint">No photo</center>
					<br><br><br><br>
				</div>
			<%end%>
			<br><br>
		<%if @user != current_user%>
			<%if $followers.include?(current_user)%>
				<div class="list-group">
					<a class="list-group-item" rel="nofollow" data-method="delete"               href="<%=unfollow_path(@user)%>"><%=icon("minus")%> Unfollow</a>
				</div>
			<%else%>
				<div class="list-group">
					<a class="list-group-item" rel="nofollow" data-method="post"                 href="<%=friend_up_path(@user)%>"><%=icon("plus")%> Follow</a>
				</div>
			<%end%>
		<%end%>
	</div>

	<div class="col-md-8 col-sm-8 col-xs-7">
		<div class="border content">
			<h3><b><%= @user.username %></b></h3><hr>
			<p><b>Amount of posts: </b><%= @user.amount_of_posts %></p>
			<p><b>Registered at: <br></b><%= @user.created_at %></p>
		</div>
	</div>
</div>
<hr>
<div class="row">

	<div class="col-md-3 col-sm-4 col-xs-5">

		<div class="border">
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<a href="<%=user_followers_path(@user)%>">
				    <span class="panel-title">User's followers </span>
				    <span class="badge"><%=$followers.length%></span>
				</a>
			  </div>
			  <div class="panel-body">
					<%if $followers.length > 0%>
						<% $followers.each do |follower| %>
							<%= link_to_user (follower) %><br>
						<%end%>
					<%else%>
						<p class="hint">This user haven't any followers</p>
					<%end%>				
				</div>
			</div><hr>

			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<a href="<%=user_followings_path(@user)%>">
				    <span class="panel-title">User's followings </span>
				    <span class="badge"><%=$followings.length%></span>
				</a>
			  </div>
			  <div class="panel-body">
					<%if $followings.length > 0%>
						<% $followings.each do |following| %>
							<%= link_to_user (following) %><br>
						<%end%>
					<%else%>
						<p class="hint">This user haven't any followings</p>
					<%end%>				
				</div>
			</div>
		</div>			
	</div>

	<div class="col-md-8 col-sm-8 col-xs-7">

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <span class="panel-title">User's posts </span>
		    <span class="badge"><%=@posts.length%></span>
		  </div>
		  <div class="panel-body">
				<%if @posts.length > 0%>
					<hr>
					<%@posts.each do |post|%>					
						<h4><a href="<%=post_path(post)%>"><%=post.title%></a></h4>
						<b>Posted by:</b> <%= user_by_id(post.author_id).username %><hr>
					<%end%>
				<%else%>
					<p class="hint">This user haven't any posts</p>
				<%end%>				
			</div>
		</div>	
	</div>

</div>