
<div class="row">
	<div class="col-xs-3">
			<%if @avatar%>
				<%= link_to image_tag(@avatar.image.url, class: 'img-thumbnail'), 
				@avatar.image.url, target: '_blank'%>
			<%else%>
				<div class="border">
					<br><br><br><br>
					<center class="hint">Photo here</center>
					<br><br><br><br>
				</div>
			<%end%>
		<hr>
		<%if @user != current_user%>
			<%if @followers.include?(current_user)%>
				<div class="list-group">
					<a class="list-group-item" rel="nofollow" data-method="delete"               href="<%=unfollow_path(@user)%>"><span class="glyphicon glyphicon-minus"></span> Unfollow</a>
				</div>
			<%else%>
				<div class="list-group">
					<a class="list-group-item" rel="nofollow" data-method="post"                 href="<%=friend_up_path(@user)%>"><span class="glyphicon glyphicon-plus"></span> Follow</a>
				</div>
			<%end%>
		<%end%>

		<div class="border">
			<h4>followers</h4><hr>
			<% @followers.each do |follower| %>
				<%=follower.username%> <br>
			<%end%>
		</div>
	</div>

	<div class="col-xs-8">	
		<div class="border">
			<h3><b><%= @user.username %></b></h3><hr>
			<p><b>Amount of posts: </b><%= @user.amount_of_posts %></p>
			<p><b>Registered at: </b><%= @user.created_at %></p>
		</div>
		<br>
		<div class="border">
			<hr>
			<%@posts.each do |post|%>					
					<h4><a href="<%=post_path(post)%>"><%=post.title%></a></h4>
					<b>Posted by:</b> <%= User.find(post.author_id).username %><hr>
			<%end%>
		</div>
	</div>
</div>