<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-5">
			<%if @avatar%>
				<%= link_to image_tag(@avatar.image.url, class: 'img-thumbnail'), 
				@avatar.image.url, target: '_blank'%>
			<%else%>
				<br><br><br><br>
				<center class="hint">Your photo here</center>
				<br><br><br><br>
			<%end%>
		<hr>

		<div class="border">
			<div class="border">
				<h4>Your followers:
					<a href="<%=profile_followers_path%>">
						<span class="badge"><%=$followers.length%></span>
					</a>
				</h4><hr>
				<% $followers.each do |follower| %>
					<%= link_to_user (follower) %><br>
				<%end%>
			</div><hr>

			<div class="border">
				<h4>Your followings:
					<a href="<%=profile_followings_path%>">
						<span class="badge"><%=$followings.length%></span>
					</a>
				</h4><hr>
				<% $followings.each do |following| %>
					<%= link_to_user (following) %>
				<%end%>
			</div>
		</div>
	</div>
	
	<div class="col-md-8 col-sm-8 col-xs-7">	
		<div class="border content">
			<h3><b><%= current_user.username %></b></h3><hr>
			<p><b>Amount of posts: </b><%= current_user.amount_of_posts %></p>
			<p><b>Sign in count: </b><%= current_user.sign_in_count %></p>
			<p><b>Current sign in at:<br></b> <%= current_user.current_sign_in_at %></p>
			<p><b>Current sign in ip: </b><%= current_user.current_sign_in_ip %></p>
			<p><b>Registered at:<br></b><%= current_user.created_at %></p>
		</div>
		<br>
		<div class="border content">
			<hr>
			<%@posts.each do |post|%>					
					<h4><a href="<%=post_path(post)%>"><%=post.title%></a></h4>
					<b>Posted by:</b> <%= user_by_id(post.author_id).username %><hr>
			<%end%>
		</div>
	</div>
</div>