<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </head>

  <body class="wall-papper res_font">
    <br><br>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
              </button>
              <%= link_to "Main page", root_path, class: "navbar-brand" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li>  
                  <a href="<%=post_index_path%>">
                    <%=icon("list-alt")%> Show all posts
                  </a>
                <li>
                  <a href="<%=new_post_path%>">
                    <%=icon("pencil")%> Write a new post
                  </a>
                <li>
                    <a href="<%=photos_path%>">
                    <%=icon("picture")%> Photos
                  </a>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <%if user_signed_in?%>

                  <li class="dropdown">
                    <a href="<%=profile_path%>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%=icon("user")%> <%=current_user.username%> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="<%=profile_path%>">
                          <%=icon("file")%> Your profile
                        </a>
                      </li>
                      <li>
                        <a href="/settings"><%=icon("cog")%></span> Settings</a>
                      </li>
                      <li>
                        <a href="#">Something else here</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                        <a href="<%=destroy_user_session_path%>" data-method="delete">
                          <%=icon("log-out")%> Sign out
                        </a>
                    </ul>
                  </li>
                <%else%>
                  <li>
                    <a href="<%=new_user_session_path%>">
                    <%=icon("log-in")%> Sign in</a>                   
                  </li>
                  <li>
                    <a href="<%=new_user_registration_path%>">
                    <%=icon("check")%> Sign up</a>
                  </li>
                <%end%>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
  <%if @header%>
    <div class="container">
      <div class="row">
        <div class="header-block border header-text hamurz main-color">
          <%= @header %>
        </div>
      </div>
    </div>
  <%end%>

  <div class="main-block container border ">
    
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <% if notice %>
          <center><div class="alert alert-success"><%= notice %></div></center>
        <% elsif alert %>
          <center><div class="alert alert-warning"><%= alert %></div></center>
        <%end%>

        <%= yield %>
      </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
  </div>
<br><br><br>

  </body>
</html>
